<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Lista de Usuários</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/listar.css">
<link rel="stylesheet" href="/css/nav.css">

</head>
<body>

	<div th:replace="~{fragments/nav :: nav}"></div>

	<div class="container">
		<h2 class="text-center mb-4">Usuários</h2>
		<table class="table">
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Nome</th>
				<th scope="col">E-mail</th>
				<th scope="col"> 
		          	<div class="btn-block">
            			<a href="/usuarios/novo" class="btn btn-secondary">Novo Usuário</a>
       				</div>
       			</th>

			</tr>
			<tr th:each="usuario : ${usuarios}">
				<td th:text="${usuario.id}"></td>
				<td th:text="${usuario.nome}" class="w-35"></td>
				<td th:text="${usuario.email}" class="w-35"></td>

				<td>
					<!-- Botão para editar --> <a
					th:href="@{/usuarios/editar/{id}(id=${usuario.id})}">
						<button type="button" class="btn btn-info">Editar</button>
				</a> <!-- Botão para remover --> <a
					th:href="@{/usuarios/remover/{id}(id=${usuario.id})}">
						<button type="button" class="btn btn-danger">Remover</button>
				</a>
				</td>

			</tr>
		</table>
	</div>

</body>
</html>
