<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Carrinho de Compras</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/carrinho.css">
     <link rel="stylesheet" href="/css/nav.css">
</head>
<body>

<div th:replace="~{fragments/nav :: nav}"></div>

    
<div class="container">
	<h2 class="text-center mb-4">Seu Carrinho</h2>
	
			<table class="table">
			 <thead>
	                <tr>
	                	<th>Nome</th>
	                    <th>Descrição</th>
	                    <th>Imagem</th>
	                    <th>Quantidade</th>
	                    <th>Preço</th>
	                    <th>Subtotal</th>
	                    <th>Ações</th>
	                </tr>
                </thead>
               <tbody>
                      <tr th:each="item : ${itensCarrinho}">
                          <td th:text="${item.produto.nome}"> </td>
                          <td th:text="${item.produto.descricao}" class="w-25"></td>
                          <td class="w-5">
                          	<img class="imagem" alt="" th:src="${item.produto.foto}" >
                          </td>
                         
                          

                          <td>
                              <form th:action="@{/carrinho/atualizar}" method="post" th:id="'form-' + ${item.id}">
			                        <input type="hidden" name="carrinhoId" th:value="${item.id}" />
			                        <input type="hidden" name="usuarioId" th:value="${item.usuario.id}" />
			                        <input 
			                            type="number" 
			                            name="quantidade" 
			                            th:value="${item.quantidade}" 
			                            min="1" 
										onkeydown="submitOnEnter(event, 'form-' + '${item.id}')"
										class="form-control"
			                        />
                   				</form>
                          </td>
                          <td th:text="'R$ ' + ${item.produto.preco}"></td>
                          <td th:text="'R$ ' +  ${item.produto.preco * item.quantidade}"></td>
                          <td>
			                    <form th:action="@{/carrinho/remover}" method="post">
			                        <input type="hidden" name="carrinhoId" th:value="${item.id}"/>
			                        <input type="hidden" name="usuarioId" th:value="${item.usuario.id}"/>
			                        <button type="submit" class="btn btn-info">Remover</button>
			                    </form>
			                </td> 
                      </tr>
                  </tbody>
                  <tfoot>
                        <tr>
                        	<td></td>
                        	<td></td>
                            <td colspan="2">Total do Carrinho:</td>
                            <td></td>
                            
                            <td th:text="'R$ ' + ${totalCarrinho}" colspan="2"></td>
                            
                        </tr>
                    </tfoot>
			</table>
			<div class="btn-block">
            <!-- Botão Escolher Mais Produtos -->
            	<a href="/produtos/listar" class="btn btn-secondary">Escolher Mais Produtos</a>
            	<button class="btn btn-primary">Finalizar Compra</button>
        </div>
		</div>

    
    
 
</body>
</html>
