<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Usuários</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"  href="/css/cadastrar.css">
	<link rel="stylesheet" href="/css/nav.css">
</head>
<body>

	<div th:replace="~{fragments/nav :: nav}"></div>

 
 <div class="container w-25">
		<h2 class="text-center">Cadastrar - Categoria</h2>
		<form th:action="@{/categorias/salvar}" th:object="${categoria}" method="post" class="shadow p-3 mb-3 bg-white rounded">
		    <!-- Campo oculto para o ID -->
    		<input type="hidden" th:field="*{id}" />
    		
		  <div class="form-group">
		    <label for="nome">Nome: </label>
		    <input type="text" class="form-control" id="nome" laceholder="Seu nome" th:field="*{nome}" placeholder="Seu nome" required>
		  </div>
		 
					  
		  <button type="submit" class="btn btn-primary">Salvar</button>
		</form>
    </div>
    
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
