<div th:fragment="nav" class="minha-nav">
	<nav class="navbar navbar-expand-lg">

		<a class="navbar-brand text-light" href="/home"> <img
			src="/images/logo.png" alt="Logo Impact">
		</a>
		<ul class="navbar-nav ml-auto">
			 <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-light" href="#" id="produtoDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                    Produtos
                </a>
                <ul class="dropdown-menu" aria-labelledby="produtoDropdown">
                    <li><a class="dropdown-item" th:href="@{/produtos/novo}">Cadastrar Produto</a></li>
                    <li><a class="dropdown-item" th:href="@{/produtos/listar}">Listar Produto</a></li>
                    <li><a class="dropdown-item" th:href="@{/categorias/novo}">Cadastrar Categoria</a></li>
                    <li><a class="dropdown-item" th:href="@{/categorias/listar}">Listar Categoria</a></li>
                </ul>
            </li>
			<li class="nav-item"><a class="nav-link text-light"
				th:href="@{/carrinho}">Carrinho</a></li>
	
			<li class="nav-item"><a class="nav-link text-light"
				th:href="@{/usuarios/listar}">Usuários</a></li>
			<li class="nav-item">
				<form th:action="@{/logout}" method="post" style="display: inline;">
                       <button type="submit" class="btn btn-link nav-link text-light" >Logout</button>
                </form>
			</li>
		</ul>
	</nav>
</div>
	


