        body {
            font-family: Arial, sans-serif;
            background-color: #d3d8e2; /* Fundo cinza claro */
            margin: 0;
            padding: 0;
        }

        .navbar {
            background-color: #ffffff;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        .navbar-brand img {
            height: 50px;
        }

        .search-bar {
            width: 100%;
            border-radius: 20px;
            border: 1px solid #ddd;
            padding: 10px 20px;
        }

        .icon {
            font-size: 20px;
            color: #000;
            margin-left: 20px;
            cursor: pointer;
        }

        /* Slider */
        .slider-container {
            margin: 20px auto;
            max-width: 90%;
            overflow: hidden;
            border-radius: 12px;
        }

        .slider {
            display: flex;
            transition: transform 0.5s ease-in-out;
        }

        .slider .slide {
            flex: 0 0 100%;
            text-align: center;
        }

        .slider .slide img {
            max-height: 300px;
            object-fit: cover;
            width: auto;
            margin: 0 auto;
        }

        /* Produtos */
        .product-card {
            text-align: center;
            background-color: #ffffff;
            padding: 15px;
            border-radius: 8px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        }

        .product-card img {
            max-width: 100%;
            border-radius: 8px;
            height: 200px;
            object-fit: cover;
        }

        .product-card h5 {
            font-size: 16px;
            margin: 10px 0;
            color: #333;
        }

        .product-card p {
            font-size: 14px;
            color: #555;
        }