<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Página Inicial</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/home.css">
        <link rel="stylesheet" href="/css/nav.css">
    	
    
</head>
<body>
<div th:replace="~{fragments/nav :: nav}"></div>

    
   

    <!-- Produtos -->
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-4 mb-4" th:each="produto : ${produtos}">
                <div class="product-card">
                    <img th:src="${produto.foto}" alt="Foto do Produto">
                    <div class="p-3">
                        <h5 th:text="${produto.nome}"></h5>
                        <p th:text="'R$ ' + ${produto.preco}"></p>
                        <form th:action="@{/carrinho/adicionar}" method="post">
                            <input type="hidden" th:value="${produto.id}" name="produtoId">
                            <input type="hidden" value="1" name="quantidade">
                            <button type="submit" class="btn btn-add-to-cart btn-block">Adicionar ao Carrinho</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>