<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Produtos</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/nav.css">
        <link rel="stylesheet" type="text/css" href="/css/listarProdutos.css">

</head>
<body>
    <!-- Navbar -->
    <div th:replace="~{fragments/nav :: nav}"></div>

    <!-- Container -->
    <div class="container">
        <h2>Produtos</h2>
            <div class="row">
                <!-- Cada produto em uma coluna -->
                <div class="col-md-6 mb-4" th:each="produto : ${produtos}">
                    <div class="product-card">
                        <img th:src="${produto.foto}" alt="Foto do Produto">
                        <div class="product-info">
                            <h5 th:text="${produto.nome}"></h5>
                            <p th:text="${produto.descricao}"></p>
                            <p th:text="'R$ ' + ${produto.preco}"></p>
                            <p class="stock" th:text="'EM ESTOQUE: ' + '10'"></p>
                        <form th:action="@{/carrinho/adicionar}" method="post">
                            <input type="hidden" th:value="${produto.id}" name="produtoId">
                            <input type="hidden" value="1" name="quantidade">
                            <button type="submit" class="btn btn-add-to-cart btn-block">Adicionar ao Carrinho</button>
                        </form>
                        
                        </div>
                    </div>
                </div>
            </div>
           <a href="/produtos/novo" class="btn btn-secondary">Adicionar Produtos</a>
            
    </div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
    
</body>
</html>
